URxvt*transparent: true
URxvt*shading: 10
URxvt*termName: screen-256color
URxvt*geometry: 240x84
URxvt*loginShell: true
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*skipScroll: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*fading: 30
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: true
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
URxvt*background: Black
URxvt*foreground: White
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
URxvt*saveLines: 0
URxvt*buffered: true
URxvt*hold: false
URxvt*internalBorder:
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*perl-ext-common:
URxvt*perl-ext:

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

URxvt.depth: 0

URxvt.intensityStyles:  false
! Turn it on here... (then boldFont)
URxvt.allow_bold:       false
URxvt.font:             xft:DejaVu Sans Mono:style=Regular:pixelsize=12
! ... but put this on Regular, else the ls output is overly fat
URxvt.boldFont:         xft:DejaVu Sans Mono:style=Bold:pixelsize=12
URxvt.saveLines:        8192


! Fix font space
! any larger than -1 I dont like
URxvt*letterSpace: -2
